<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>メモ情報</title>
  <link rel="stylesheet" href="../lib/stylesheet.css">
</head>
<body id="view_body">
  <div class="button_view" id="changetolistview_view">
    <input type="Button" id="changetolistview" value="list" class="button_view_cell">
  </div>
  <div id="titleview">
    <label class="view_name_title">Subject:</label>
    <input type="text" id="name" class="view_name" readonly>
  </div>
  <div id="view_memo">
    <label class="view_memo_title">Code:</label>
    <textarea id="memo" class="view_memo" readonly></textarea>
  </div>
  <div class="button_view" id="copy_content_view">
    <input type="Button" id="copy_content" value="copy" class="button_view_cell">
  </div>
  <div class="button_view" id="changetofix_view">
    <input type="Button" id="changetofix" value="fix" class="button_view_cell">
  </div>
  <div class="button_view" id="delete_this_view">
    <input type="Button" id="delete_this" value="delete" class="button_view_cell">
  </div>
  <script src='../lib/jquery-3.4.0.min.js'></script>
  <script src='view.js'></script>
</body>
</html>
